@charset "UTF-8";
:root {
  --color-prime:#6C0E23;
  --color-second:#c42021;
  --color-third:#561643;
  --color-fourth:#3c1742;
  --color-fifth:#F3FFB9;
  --color-sixth:#981722;
}

/*Estilos de reset*/
* {
  margin: 0;
}

body {
  background: #FEAC5E;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #4BC0C8, #C779D0, #FEAC5E);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #4BC0C8, #C779D0, #FEAC5E); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  

}

.bg-prime {
  background: var(--color-prime);
}

ul {
  padding: 10px;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

li {
  margin-right: 20px;
  padding-top: 10px;
}

a {
  color: floralwhite;
  text-decoration: none;
  font-size: 25px;
}

/*Estilos generales*/
.carousel {
  width: 50%;
  height: 50%;
}

h1 {
  color: var(--color-fifth);
  font-size: 60px;
  text-align: center;
  padding-top: 50px;
}

.bg-footer {
  background: #561643;
  background: linear-gradient(90deg, #561643 0%, #6c0e23 80%);
  background: -webkit-linear-gradient(90deg, #561643 0%, #6c0e23 80%);
  background: -moz-linear-gradient(90deg, #561643 0%, #6c0e23 80%);
}

/*Estilos de Index */
.titulo-index {
  background-image: url(../media/cafe-index-background.jpg);
    margin-top: 0;
    text-align: center;
    padding: 7.5% 0;
}
.text-picture {
  padding-top: 5%;
  padding-bottom: 5%;
}
.text-picture .text-picture__picture {
  text-align: center;
}
.text-picture .text-picture__picture img {
  width: 640px;
  height: 340px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
}

/*Estilos de Variedades*/
.titulo-variedades {
  margin: 0;
  width: 100%;
  height: 200px;
  background-image: url(../media/cafe-menu-types.jpg);
  background-position: center bottom -70px;
  background-repeat: no-repeat;
  background-size: cover;
}

/*Estilos de Métodos*/
.titulo-metodos {
  background-image: url(../media/cup-coffee-making.jpg);
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  height: 250px;
}

.img-card {
  width: 286px;
  height: 252px;
}

.bg-card {
  background-color: var(--color-second);
}

.shadow-card {
  box-shadow: 10px 12px 11px -1px rgba(196, 32, 33, 0.51);
  -webkit-box-shadow: 10px 12px 11px -1px rgba(196, 32, 33, 0.51);
  -moz-box-shadow: 10px 12px 11px -1px rgba(196, 32, 33, 0.51);
}
/*Estilos del botón de las cards*/
.btn-card{
color: var(--color-fifth);
  font-weight: 300;
font-size: 20px;
background-color: var(--color-third);
padding: 10px 30px;
border: solid #0066cc 2px;
box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
border-radius: 50px;
transition : 1917ms;
transform: translateY(0);
display: flex;
flex-direction: row;
align-items: center;
cursor: pointer;
text-transform: lowercase;
}

.btn:hover{

transition : 1917ms;
padding: 10px 40px;
transform : translateY(-8px);
background-color: var(--color-fifth);
color:var(--color-third);
border: none;
}


/*Estilos de página3*/
/*Estilos de página4*/


/*# sourceMappingURL=styles.css.map */
