@charset "UTF-8";

:root {
  --color-prime:#6C0E23;
  --color-second:#c42021;
  --color-third:#561643;
  --color-fourth:#3c1742;
  --color-fifth:#F3FFB9;
  --color-sixth:#981722;
}

@media screen and (min-width: 480px) and (max-width: 768px) {}

/*Estilos de reset*/

* {
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #FEAC5E;

  /* fallback for old browsers */
  background: rgb(131, 58, 180);
  background: linear-gradient(184deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
  font-family: "Ubuntu", sans-serif;
}

.bg-prime {
  background: var(--color-prime);
}

ul {
  padding: 10px;
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

ol {
  font-size: 18px;
  text-align: left;
  border: 1px solid var(--color-second);
  border-radius: 7px;
}

li {
  margin-right: 20px;
  padding-top: 10px;
}

a {
  font-size: 20px;
  overflow: hidden;
  position: relative;
  display: inline-block;

  &::before, &::after {
    content: "";
    position: absolute;
    width: 100%;
    left: 0;
  }

  &::before {
    background-color: #54b3d6;
    height: 2px;
    bottom: 0;
    transform-origin: 100% 50%;
    transform: scaleX(0);
    transition: transform 0.3s cubic-bezier(0.76, 0, 0.24, 1);
  }

  &::after {
    content: attr(data-replace);
    height: 100%;
    top: 0;
    transform-origin: 100% 50%;
    transform: translate3d(200%, 0, 0);
    transition: transform 0.3s cubic-bezier(0.76, 0, 0.24, 1);
    color: #54b3d6;
  }

  &:hover {
    &::before {
      transform-origin: 0% 50%;
      transform: scaleX(1);
    }

    &::after {
      transform: translate3d(0, 0, 0);
    }
  }

  span {
    display: inline-block;
    transition: transform 0.3s cubic-bezier(0.76, 0, 0.24, 1);
  }

  &:hover span {
    transform: translate3d(-200%, 0, 0);
  }
}

/*Estilos generales*/

h1 {
  color: var(--color-fifth);
  font-size: 60px;
  text-align: center;
  text-shadow: rgb(196, 32, 33) 5px 2px 4px;
}

p {
  color: rgb(39, 50, 61);
}

.bg-footer {
  background: #561643;
  background: linear-gradient(90deg, #561643 0%, #6c0e23 80%);
  background: -webkit-linear-gradient(90deg, #561643 0%, #6c0e23 80%);
  background: -moz-linear-gradient(90deg, #561643 0%, #6c0e23 80%);
}

/*Estilos de Index */

.header-content {
  padding: 100px 0 150px 0;
}

.titulo-index {
  background-image: url(../media/cafe-index-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 0;
  text-align: center;
  padding: 7.5% 0;
  text-shadow: rgb(209, 50, 50) 5px 2px 4px;
}

.text-picture {
  padding-top: 5%;
  padding-bottom: 5%;

  .text-picture__picture {
    text-align: center;

    img {
      width: 640px;
      height: 340px;
      margin-left: auto;
      margin-right: auto;
      border-radius: 10px;
    }
  }
}

/*Estilos de Variedades*/

.titulo-variedades {
  background-image: url(../media/cafe-menu-types.jpg);
  background-position: center bottom -70px;
  background-repeat: no-repeat;
  background-size: cover;
  height: 250px;
  margin-bottom: 0;
  padding-top: 50px;
  text-shadow: rgb(196, 32, 33) 5px 2px 4px;
}

.text-picture__img img {
  width: 300px;
  height: 500px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
}

/*Estilos de Métodos*/

.titulo-metodos {
  background-image: url(../media/cup-coffee-making.jpg);
  background-position: center bottom -70px;
  background-repeat: no-repeat;
  background-size: cover;
  height: 250px;
  margin-bottom: 0;
  padding-top: 50px;
  text-shadow: rgb(196, 32, 33) 5px 2px 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.5rem 0;
  width: 100%;
}

.border-p {
  border: 2px solid var(--color-fourth);
  border-radius: 6px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.card-m {
  margin-top: 10px;
  margin-bottom: 10px;
}

.prg-methods {
  font-size: 18px;
  text-align: center;
}

.img-card {
  width: 286px;
  height: 252px;
}

/*Estilos de Curiosidades*/

.img-curiosities {
  width: 660px;
  height: 350px;
  border-radius: 6px;
  margin-left: 100px;
}

.prg-curiosities {
  font-size: 22px;
  text-align: center;
}

/*Estilos del botón de las cards*/

.bg-card {
  background-color: var(--color-second);
}

.shadow-card {
  box-shadow: 10px 12px 11px -1px rgba(196, 32, 33, 0.51);
  -webkit-box-shadow: 10px 12px 11px -1px rgba(196, 32, 33, 0.51);
  -moz-box-shadow: 10px 12px 11px -1px rgba(196, 32, 33, 0.51);
}

.btn-card {
  color: var(--color-fifth);
  font-weight: 300;
  font-size: 20px;
  background-color: var(--color-third);
  padding: 10px 30px;
  border: solid #0066cc 2px;
  box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
  border-radius: 50px;
  transition: 1917ms;
  transform: translateY(0);
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  text-transform: lowercase;
}

.btn:hover {
  transition: 1917ms;
  padding: 10px 40px;
  transform: translateY(-8px);
  background-color: var(--color-fifth);
  color: var(--color-third);
  border: none;
}

/*animaciones*/

.pulse:hover {
  -webkit-animation-name: pulse;
  animation-name: pulse;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.animate__animated {
  &.animate__slideInDown {
    --animate-duration:1.5s;
  }

  &.animate__slideInUp, &.animate__rotateIn, &.animate__fadeInLeft {
    --animate-duration:2s;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
