:root {
    --color-prime:#A84D00;
    --color-second:#a85d1c;
    --color-third:#a86c38;
    --color-fourth:#A87B54;
    --color-fifth:#A88A70;
    --color-sixth:#A8998C;
  }
  
  /*Estilos de reset*/
  
  * {
    margin: 0;
  }
  
  body {
    background-color: #ffcab4;
  }
  
  .bg-orange {
    background: #ff9257;
  }
  
  ul {
    padding: 10px;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  li {
    margin-right: 20px;
    padding-top: 10px;
  }
  
  a {
    color: floralwhite;
    text-decoration: none;
    font-size: 25px;
  }
  
  /*Estilos generales*/
  
  .carousel {
    width: 50%;
    height: 50%;
  }
  
  h1 {
    color: #187fb5;
    font-size: 60px;
    text-align: center;
    padding-top: 50px;
  }
  
  .bg-footer {
    background-color: #ff9257;
  }
  
  /*Estilos de Index */
  
  .titulo-index {
    width: 100%;
    height: 250px;
    background-image: url(../media/cafe-grano\ 1.jpg);
    background-position: center bottom -200px;
    background-size: cover;
  }
  
  .parrafo-obj {
    box-sizing: border-box;
    width: 200px;
    height: 200px;
    font-size: 18px;
  }
  
  .seccion-queEs {
    font-size: 20px;
    box-sizing: border-box;
    width: 700px;
    height: 700px;
  }
  
  /*Estilos de Variedades*/
  
  .titulo-variedades {
    margin: 0;
    width: 100%;
    height: 200px;
    background-image: url(../media/cafe-menu-types.jpg);
    background-position: center bottom -70px;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  /*Estilos de Métodos*/
  
  .titulo-metodos {
    margin: 0%;
    width: 100%;
    height: 250px;
    background-image: url(../media/cup-coffee-making.jpg);
    background-position: center bottom -200px;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .contenedor {
    overflow: hidden;
  
    h3, p, img {
      float: inline-start;
      margin-right: 10px;
    }
  }
  
  /*Estilos de página3*/
  
  /*Estilos de página4*/
  